.MenuFourTable {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    font-size: 25px;
}

.Paperhead {
    background-color: #5ee6eb90;
}

.Paperbody {
    background-color: #5ee6eb50;
}